# dependencies
node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.production

# build output
dist
build

# docker
docker-data

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# coverage
coverage

# misc
*.pid
*.seed
*.pid.lock